body {
    background-color: pink;
}

.row {
    margin: 40px;
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

.col-lg-5 {
    padding-left: 0;
    padding-right: 0;

}

.img-fluid {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 100%;
    
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px; 

}

.btn1:hover {
    background: white;
    color: black;
    border: 2px solid black;
}

.upper-gap {
    padding-top: 45px;
}

.bottom-gap {
    padding-bottom: 50px;
}